 *{
   margin: 0;
   padding: 0;
 }
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(14, 212, 33, 0.8),rgba(10,12,40,0.8)),url(#);
  background-position: center;
  background-size: cover;
  position: relative;

}
nav{
  display:flex;
  padding:1% 5% ;
  /**justify-content: end;**/
  align-items: left;
}

nav img{
  width: 120px;
  cursor: pointer;
}

.nav-links{
  flex:1;/**occupy the space in the row**/
  text-align: center;
}  

.nav-links ul li{
  list-style: none;
  display: inline-block;
  margin: 60px;
  position: relative;
  cursor: pointer;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.nav-links ul li::after{
  content:"";
  width: 0%;
  height:2px;
  background: #2808dc;
  display:block;
  margin:auto;
  transition:0.3s;
}
.nav-links ul li:hover::after{
  width: 100%;
}

.text-box{
  width: 100%;
  color: #fff;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 80px;
}
.text-box p{
  margin: 30px 0 60px;
  font-size: 20px;
}
.button{
  display: inline;
  text-decoration: none;
  color:#fff ;
  border: 4px solid #fff;
  padding: 12px 34px;
  background: transparent;
  position: relative;
  cursor: pointer;
  }
  .button:hover{
    border: 4px solid #2808dc;
    background-color: #2808dc;
    transition: 2s;
  }